html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

:root{
  --bg:rgb(79,35,35);
}


p{
  margin: 0px;
}

.navbar{
  padding: 0px 10px ;
}

.brand{
  font-size: x-large;
  font-weight: bolder;
  margin-left:2rem;
}

.nav-item{
  text-decoration: none;
  list-style:none;
  display:inline;
  padding-left: 20px;
}

.item-link {
  font-weight: bold;
  text-decoration: none;
  color:white;
  font-size: 16px;
  border-radius: 20px;
  padding: 7px;
}

.item-link:hover{
  background-color: rgb(255, 255, 255);
  color:rgb(79, 35, 35);
  transition-duration:1s;
 
  
}


.bar{
  display: grid;
  grid-template-columns: 50% 50%;
  color: rgb(255, 246, 246);
  background-color:rgb(79, 35, 35);

}

.btnContact{
  color: rgb(79, 35, 35);
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 7px;
  border-radius: 20px;
  border: none;
}

.intro{
  background-color:  rgb(79, 35, 35);
  color: white;
  width: 100%;
  height:190px;
  margin: 10px;
  margin-top:75px;
  border-radius: 10px;

}


.introtext{
  padding:10px;
  font-size:large;
  text-align: center;
  padding-top:60px;
  line-height:1.5;

}

.dashbord{
  background-color:  rgb(79, 35, 35);
  color: white;
  width: 100%;
  height: 120px;
  margin:50px 10px 10px 10px;
  border-radius: 10px;
  text-align: center;
}

.dashtext{
  font-size:larger;
  margin-top:35px;
  
}

.dashitem{
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  padding-inline-start: 0px;
}

.dashbord:hover{
   transition-duration:0.5s;
  text-shadow: 10px 10px 7px black;
  box-shadow:0px 11px 11px 4px rgb(0, 0, 0);
}

.mainfooter{
  background-color:  rgb(79, 35, 35);
  height:45px;
  display: flex;
  color: white;
  justify-content: space-around;
  overflow: hidden;

}

.About{
  background-color:  rgb(79, 35, 35);
  display: flex;
  color: white;
  justify-content: space-around;
  font-size: larger;
}

.mainfooter-item{
  border-radius:50%;
}
.dec-css{
  position: absolute;
  margin-top:-55px;
  margin-left:40px;
  transform: rotate(20deg);
}

.dec-html{
  position: absolute;
  margin-top:-40px;
  margin-left:440px;
  transform: rotate(-50deg);
}

.intro:hover{
  font-size:x-large;
  transition: all 0.5s ease;
  transform: scale(1.02);
  text-shadow: 10px 10px 7px black;
  box-shadow:0px 11px 11px 4px rgb(0, 0, 0);
}

.intro:hover .dec-html{
  transform: rotate(-40deg) scale(1.05) ;
  transition: all 0.5s ease;
}
.intro:hover .dec-css{
  transform: rotate(10deg) scale(1.05) ;
  transition:all 0.5s ease;
}

.circle{
  width:430px;
  height:430px;
  background-color:rgb(112, 64, 64);
  border-radius:50%;
  overflow: hidden;
  margin: auto;

}
.homesection{
  display:grid;
  grid-template-columns:50% 50%;
  padding:7px;
}

.circle:hover{
box-shadow:inset -11px 3px 20px 0px black;
transition-duration: 0.5s;
  
}

.cvdownload{
  color: rgb(79, 35, 35);
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius:5px;
  margin:5px;
  padding:5px;
  border: none;
}

.bootstrap{
  position: absolute;
  z-index:-1;
}
.js{
  margin-left:350px;
  position: absolute;
  z-index:-1;
}

.circle:hover .bootstrap{
      transform: rotate(10deg)  scale(1.5);
       transition: all ease-in-out 0.5s; 
}

.circle:hover .js{
      transform: rotate(-10deg) scale(1.5) ;
       transition: all ease 0.5s; 
}
.aboutsec{
display: grid;
grid-template-columns:40% 60%;
padding: 10px;
}
.whtido{
  background-color:rgb(79,35, 35);
  padding: 10px;
  margin: 30px;
  border-radius:30px;
  color: white;
}
.whttext{
  text-align: center;
}


.wht{
  border-radius:50%;
}
.whtbar{
    background-color: rgb(102, 56, 56);
    display: flex;
     border-radius:30px;
     margin:10px; 
     padding: 10px;
     align-items: center;
     text-align: center;
     font-size:x-large;
     font-weight: bolder;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.skillbox{
  background-color: var(--bg);
  border-radius:30px;
  color:white;
  text-align: center;
  padding: 0px 20px 0px 20px;
}

.skillshow{
  margin-top:0rem;
  display: grid;
  grid-template-columns:50% 50%;
  column-gap:10px;
  width:99%;
}

.showcontent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:60px;
  padding: 0px 40px;
}
.progress-bar{
  height:5px;
  background-color: brown;
  width:100px;
  border-radius:20px;
  border: 2px solid whitesmoke;
}

.progress-bar-fill{
  width: 90px;
  height: 5px;
  background-color:white;
  border-radius: 20px;
}

.showtext{
  display: flex;
  align-items: center;
}

.showbox{
  margin-top:2rem;
  background-color:rgb(102, 56, 56);
  border-radius:20px;
}


.showbox:hover{
  transition:all 0.5s ease;
  box-shadow:2px 2px 2px rgb(122, 96, 96),-2px -2px 2px rgb(79, 35,35);
  transform: scale(1.02);

}

.whtbar:hover{
  transform: scale(1.05);
  transition: all 0.5s ease;
}

/****************************phone size media query*********************** */
@media screen and (max-width:600px) {

  .navdiv{
    width: 100%;
  }

.navitem{
    display: none;
}

.profile{
    width:300px;
    height:300px;
   margin-left:-50px;
}

.homesection{
  display: flex;
  flex-direction: column-reverse;
}

.circle{
  border-radius: 0%;
  width:100%;
  height: 300px;
  margin:0px;
  overflow: hidden;
}

.dec-html,.dec-css,.js,.bootstrap{
  width:50px;
  height: 50px;
  z-index:2;
  margin: 0px;
}

.dec-html{
  margin-left:9rem;
}

.aboutsec{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.intro{
  position: absolute;
  margin-top:-290px;
  margin-left:140px;
  width:auto;
  background-color: transparent;
}

.dashbord{
  margin: 0px;
}

.mainfooter{
  position: absolute;
  margin-top:-190px;
  margin-left: 170px;
  background-color: transparent;
  scale: (0.5);
}

.skillshow{
  display: flex;
  flex-direction: column;
  margin: 10px;
}


.intro:hover{
  box-shadow:none;
}

.circle:hover{
  box-shadow: none;
}

.js{
  width:30px;
  height: auto;
  margin-top:170px;
  margin-left:48%;
}

.bootstrap{
  margin-top:170px;
  width:30px;
  height: auto;
  margin-left:70%;
}

.mainfooter-items{
  width:20px;
  height:20px;
}

.cvdownload{
  width:20px;
  height: 20px;
}



}
